.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 400px; /* Full-width */
    height: 14px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: #008CBA; /* blue background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 18px; /* Set a specific slider handle width */
    height: 85px; /* Slider handle height */
    background: #008CBA; /* blue background */
    cursor: pointer; /* Cursor on hover */
}

.button {
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
}
.button:hover {
    background-color: #C4CFD7; /* light blue */
    color: black;
}

.password {
    font-family: "courier new";
    font-size: 22px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;
}

.accordion {
    background-color: #eee;
    font-size: 100%;
    /* cursor: pointer; */
    text-align: left;
    transition: 0.2s;
    margin-bottom: 10px;
    border: none;
    padding: 6px;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.options {
    margin: auto;
    width: 400px;
    background-color: #F9F9F9;
    display: none;
    overflow: hidden;
    font-size: 80%;
    text-align: left;
    padding: 10px;
    border-style: dashed;
    border-width: 2px;
    border-color: #707375;
}

body {
    font-size: 16px;
    font-family: "helvetica";
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

p {
    font-size: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h1 {
    color: #363637;
    font-size: 300%;
}
h2 {
    color: #707375;
    font-style: normal;
    font-size: 200%;
}
footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 100%;
}
p {
    color: grey;
}
